body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #e3e3e3;
}

.back_menu{
  width: 280px;
  height: 100%;
  position:fixed;
  background-image: url("https://mira2.univ-st-etienne.fr/~mt05697s/projet/img/src/MADLION.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.menu_header{
  position:fixed;
  display: block;
  top: 0;
  left: 0;
  width: 280px; /* 15% */
  height: 85%;
}

.menu_header nav{
  width: 100%;
  height: 100%;
  display: inline-block;
}

#logo img{
  width: 100%;
}

#logo{
  position:relative;
  display: block;
  margin-top: 1%;
  width: 45%;
  margin: auto;
}

.menu{
  width: 100%;
  padding:0;
  margin-top: 25%;
  position:relative;
  list-style: none;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.menu a{
  text-decoration:none;
  color: #f0cc3e;
}

.underline{
  margin: auto;
  background-color: #f0cc3e;
  height: 2px;
  width: 0;
}

.menu a:hover .underline{
  transition-duration: 0.5s;
  width: 39%;
}

.main{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 280px;
  height: 100%;
}

.main h1{
  font-size: 25px;
}

.main_content{
  position: relative;
  height: 100%;
  width: 75%;
  margin: auto;
  font-family: 'PT Serif', serif;
  font-size: 0.8em;
}

.box_accounti{
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 1.2em;
}

.box_accountc{
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 1.2em;
}

.box_accounti a, .box_accountc a{
  text-decoration: none;
  color: white;
}

.bouton{
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #eeeeee;
  font-weight: 600;
  font-size: 15px;
  background-color: #6bb6e4;
  padding: 15px 50px;
  margin: 0 auto;
  max-width: 400px;
}

.bouton span{
  position: relative;
  z-index: 1;
}

.bouton:after{
  content: '"';
  position: absolute;
  left: 0;
  top: 0;
  height: 470%;
  width: 160%;
  background: #f0cc3e;
  transition: all .5s ease-in-out;
  transition: all .5s ease . -in-out;
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
  transform: translateX(-100%) translateY(-25%) rotate(45deg);
}

.bouton:hover:after{
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translteY(-25%) rotate(45deg);
}

.main_header{
  position: fixed;
  top: 1%;
  right:3%;
}

footer{
  position: fixed;
  bottom:0;
  left: 0;
  width: 280px;
  min-width: 200px;
  height:15%;
}

footer img{
  width: 14%;
}

footer li{
  position: relative;
  display: inline;
  top: 35px;
  margin-left: 5%;
  left: 0;
  list-style: none;
}

footer img:hover{
  opacity: 0.75;
}

#mention{
  width: 50%;
  margin-top: 12%;
  margin-left: 31%;
  font-size: 0.85689em;
}

#mention a{
  text-decoration: none;
  color: #ebc83d;
}

.account{
  position:fixed;
  width: 10%;
  top: 3%;
  right: -1%;
}

.account img{
  float: left;
  width: 35px;
}

.account img:hover{
  opacity: 0.75;
}

.session_name{
  font-size: 0.8em;
  position: relative;
  margin-left: 25%;
}

.deco{
  position: relative;
  font-size: 0.8em;
  text-decoration: none;
  margin-left: 5%;
}

.sponsors{
  position: relative;
  text-align: center;
}

.sponsors h2{
  color: #4287f5;
}

.sponsors li{
  list-style: none;
  display: inline;
  margin-left: 2%;
}

.sponsors img{
  width: 5%;
}

.login-box {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-image: url("https://mira2.univ-st-etienne.fr/~mt05697s/projet/img/src/MADLION.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .6s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f0cc3e;
  font-size: 12px;
}

.login-box form .bouton_valid {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  background: #2084d6;
  color: #f0cd0a;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .6s;
  margin-top: 5%;
  margin-left: 20%;
  letter-spacing: 1px;
  border-radius: 2px;
                 
}

.login-box .bouton_valid:hover {
  background: #f0cd0a;
  color: #2084d6;
  border-radius: 2px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

#dejacc{
  position: relative;
  text-decoration: none;
  top: 65%;
  left: 43%;
}
