.miniature{
  width: 100%;
  height: 25vw;
  max-height: 25vw;
  position : relative;
  border-radius : 5px;
  overflow : hidden;
  background : rgb(112, 167, 255);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center center;
}
.filtre_miniature{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background : rgba(94,125,191,0.5);
}


#titre,#upload_img,#upload_miniature{
  display:none;
}

#titre_view{
  position : absolute;
  max-width:80%;
  min-width:10%;
  max-height:90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: "Roboto";
  font-size: 4em;
  text-align: center;
  margin:0;
  overflow-wrap: break-word;
  text-transform: uppercase;
}


h2{
  margin:0;
}

.ajout_miniature{
  position:absolute;
  bottom:0;
  left:0;
  height:2vw;
  width:2vw;
  background-image:url('https://mira2.univ-st-etienne.fr/~mt05697s/projet/img/src/bouton_insert_image.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#contenu{
  display:none;
}

.paragraphe{
  font-size: 1.5em;
}


#box_contenu{
  margin-top: 20px;
  width:100%;
  min-height:10%;
  font-size:1.3em;
  overflow-wrap: break-word;
  text-align:left;
  background:white;
}

#box_contenu img{
  max-width:70%;
  text-align:center;
}

#box_contenu div{
  width:100%;
}

.outils{
  position:fixed;
  right:5%;
  bottom:30%;
}

.outils ul{
  list-style: none;
}

.outils img{
  width: 40px;
}

.outils button{
  background: transparent;
  border: none;
  cursor: pointer;
}

#logo-gif{
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#submit_button{
  position: fixed;
  top: 70%;
  right: 3%;
  display: inline-block;
  padding: 10px 20px;
  color: #0d2b49;
  font-family: "Roboto";
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .4s;
  margin: 10px;
  border: 1px #0d2b49 solid;
}

#submit_button:hover{
  background-color: #0d2b49;
  color: #fff;
  border: 1px #fff solid;
  cursor: pointer;
}