/* CSS PARTIE FORUM */

.forum{
  position: relative;
  top: 15%;
  left: 5%;
  width: 95%;
}

.bloc_forum{
  border: 1px solid #0f1923;
  width: 85%;
}
    
td{
  font-family: "Roboto", verdana,arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color:#000000;
  padding: 0px;
  text-align: left;
  min-width; 100px;
}

/* Forum Général */
.forum_part{
  width: 53%;
  text-align: center;
}

.sujets_part{
  width:12%;
  text-align: center;
}

.messages_part{
  width: 12%;
  text-align: center;
}

.lastmess_part{
  width: 23%;
  text-align: center;
}

/* Forum Catégorie */

.sujet_cat{
  width: 50%;
  text-align: center;
}

.rep_cat{
  width: 7%;
  text-align: center;
}

.vues_cat{
  width: 7%;
  text-align: center;
}

.auteur_cat{
  width: 15%;
  text-align: center;
}

.lastmess_cat{
  width: 21%;
  text-align: center;
}

.fcaption{
  border-top : 1px #0f1923 solid;
  border-bottom : 1px  #0f1923 solid;
  background-color: #0f1923;
  font-size: 1em;
  font-family:"Roboto", verdana,arial, Helvetica, sans-serif;
  color:#fff;
  font-weight:bold;
  padding: 4px;
  text-align: center;
}

.fborder{
  border: #66503f 1px solid;
  text-align: center;
  width: 80%;
  color: #fff;
}

.header_forum{
  background-color: #0f1923;
  font-size: 1.2em;
  font-family: "Roboto", verdana,arial, Helvetica, sans-serif;
  color:#f4ede2;
  font-weight : bold;
  padding:2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #0f1923;
}

.col1{
  background-color: #0d2b49;
  border : 1px #f0cc3e solid;
  text-align : left;
  padding : 2px;
  color: #f0cc3e;
  font-weight : bold;
}

.col2{
  background-color: #0f1923;
  border : 1px #f0cc3e solid;
  padding : 2px;
  color: #f4ede2;
  font-weight : bold;
}

.col3{
  background-color:#0d2b49;
  border : 1px #f0cc3e solid;
  color: #f4ede2;
  padding: 5px;
  font-weight : bold;
}

.col4{
  background-color: #0f1923;
  border : 1px #f0cc3e solid;
  color: #f4ede2;
  font-weight : bold;
}

.col5{
  background-color:#0d2b49;
  border : 1px #f0cc3e solid;
  color: #f4ede2;
  font-weight: bold;
}

.smalltext, .smalltextblack{
font-size : 0.65em;
color : #fff;
}

.smalltextblack{
  color: #000000;
}

.mediumtext, .mediumtextblack{
  font-size: 0.9em;
  color: #fff;
}

.mediumtextblack{
  color: #000000;
}

.forum_part a, .forumlink, .sujets_cat a{
  padding-left: 5px;
  color: #f4ede2;
  text-decoration: none;
}

.forum_part a:hover, .forumlink:hover, .sujets_cat a:hover{
  text-decoration: underline;
}

.casetype1 {
  border : 1px #66503f solid;
  color: #fff;
  background-color: #4875b5;
  padding: 2px;
  padding-left: 5px;
}

/* Partie message forum */

.auteur_fo{
  width: 30%;
  text-align: center;
}

.message_fo{
  width: 70%;
  text-align: center;
}

.colaut{
  background-color: #92a5b3;
  border: 1px #0d2b49 solid;
  padding: 2px;
}

.colmess{
  background-color: #92a5b3;
  border: 1px #0d2b49 solid;
  padding: 5px;
  text-align: left;
}