/* CSS PARTIE LIVRE D'OR */

.livre{
  position: relative;
  top: 15%;
  left: 5%;
  width: 95%;
}

.bloc_livre{
  border: 1px solid #0f1923;
  width: 85%;
}

table{
  border-spacing: 0;
}

td{
  font-family: Helvetica, verdana,arial, Helvetica, sans-serif;
  color:#000000;
  padding: 0px;
  text-align: left;
  min-width; 100px;
}

.fcaption{
  border-top : 1px #0f1923 solid;
  border-bottom : 1px  #0f1923 solid;
  background-color: #0f1923;
  font-size: 1em;
  font-family:"Roboto", verdana,arial, Helvetica, sans-serif;
  color:#fff;
  font-weight:bold;
  padding: 4px;
  text-align: center;
}

.auteur_li{
  width: 25%;
  text-align: center;
}

.message_li{
  width: 75%;
  text-align: center;
}

.colaut{
  background-color: #f6f7dc;
  border: 1px #0d2b49 solid;
  padding: 2px;
  font-family: 'Roboto';
}

.colmess{
  background-color: #f6f7dc;
  border: 1px #0d2b49 solid;
  padding: 5px;
  text-align: left;
  font-family: 'Spectral', serif;
  font-size: 1.2em;
}

.smalltext{
font-size : 0.65em;
color : #171d30;
}

.mediumtext{
  font-size: 0.9em;
  color: #000;
}

#signer_livre{
  position: relative;
  width: 500px;
}

textarea{
  margin-top: 40px;
  left: 20%;
  width: 500px;
  max-width: 630px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border-style: none solid solid none; 
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; /* Ombre interne */
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.5s;
}


textarea:focus {
    background-color: #FFFFFF;
    outline-width: 0;
}

#submit_button{
  position: absolute;
  top: 85%;
  left:76%;
  display: inline-block;
  padding: 10px 20px;
  color: #0d2b49;
  font-family: "Roboto";
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .4s;
  border: 1px #0d2b49 solid;
}

#submit_button:hover{
  background-color: #0d2b49;
  color: #fff;
  border: 1px #fff solid;
  cursor: pointer;
}

.avatar{
  position: relative;
  width: 50px;
  height: 50px:
  border-radius: 50%;
  overflow: hidden;
}

td img{
  border-radius: 50%;
  overflow: hidden;
}